
*{
	margin: 5px 2px 5px 2px;
	padding: 5px;
}
body{
	font-family: sans-serif;
}
.buttons{
	width: 300px;
	/*background-color: lightgreen;*/
	margin: 0;
	padding: 0;

}

.digits div, .operations div{
	background-color: lightgray;
	width: 40px;
	text-align: center;
	border-radius: 10%;
	display: inline-block;
}

.digits{
	width: 175px;
	display: inline-block;
}

.operations {
	width: 50px;
	display: inline-block;
	margin: 0;
}

.digits div:hover, .operations div:hover{
	background-color: gray;
	cursor: pointer;
}

#text{
	border: 1px solid black;
	width: 220px;

	margin-left: 9px;
	text-align: right;
	vertical-align: middle;
	padding: 10px;
}
